# User's project ignored files
.godot/
*.import
export_presets.cfg
src/debug.keystore

# External Tools & SDK (DO NOT PUSH)
android-sdk-setup/
engine/
bin/
build/
builds/
src/builds/
inject_lib/
temp_*/
*.zip
*.tar
*.gz
*.so
*.exe
*.apk
*.aar
*.idsig

# Gradle artifacts
**/.gradle/
**/build/

# OS
.DS_Store
